<?xml version="1.0"?>
<config>
    <modules>
        <MpsSistemi_Core>
            <version>0.1.0</version>
        </MpsSistemi_Core>
    </modules>
    <global>

        <blocks>
            <mpscore>
                <class>MpsSistemi_Core_Block</class>
            </mpscore>
        </blocks>
        <helpers>
            <mpscore>
                <class>MpsSistemi_Core_Helper</class>
            </mpscore>            
        </helpers>        
        <models>    
            <mpscore> 
                <class>MpsSistemi_Core_Model</class>                
            </mpscore>
        </models>            
    </global> 
    
    <frontend><layout>
            <updates>
                <mpslocation>
                    <file>mps/mpscore.xml</file>
                </mpslocation>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
        <layout>
            <updates>
                <mpscore>
                    <file>mps/mpscore.xml</file>
                </mpscore>
            </updates>
        </layout>
        
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mpscore_options>
                                            <title>Mps Sistemi Core Settings</title>
                                        </mpscore_options>
                                    </children>
                                </config>
                            </children>
                        </system>
		    </children>
                </admin>
            </resources>
        </acl>
        
    </adminhtml>
    
</config>