<?xml version="1.0"?>
<config>
    <modules>
        <MpsSistemi_ColorSwitch>
            <version>0.1.0</version>
        </MpsSistemi_ColorSwitch>
    </modules>
    <global>
        <event>
            <!-- Memorizzazione Attributi (per gestire le immagini) -->            
            <catalog_entity_attribute_save_after>
                <observers>
                    <mpswitcer_observer>
                        <type>singleton</type>
                        <class>MpsSistemi_ColorSwitch_Model_Adminhtml_Observer</class>
                        <method>on_attribute_after_save</method>
                    </mpswitcer_observer>
                </observers>
            </catalog_entity_attribute_save_after>
        </event>
        <blocks>
            <mpsswitcher>
                <class>MpsSistemi_ColorSwitch_Block</class>
            </mpsswitcher>
            <adminhtml>
                <rewrite>
                    <!-- Aggiungo la tab manage colors -->
                    <catalog_product_attribute_edit_tabs>MpsSistemi_ColorSwitch_Block_Adminhtml_Catalog_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                    <!-- Aggiungo l'encrypt type sul form -->
                    <catalog_product_attribute_edit_form>MpsSistemi_ColorSwitch_Block_Adminhtml_Catalog_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                    <catalog_product_helper_form_gallery_content>MpsSistemi_ColorSwitch_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mpsswitcher>
                <class>MpsSistemi_ColorSwitch_Helper</class>
            </mpsswitcher>            
        </helpers>     
        <models>    
            <mpsswitcher> 
                <class>MpsSistemi_ColorSwitch_Model</class>                
                <resourceModel>mpsswitch_mysql4</resourceModel>
            </mpsswitcher>
            <mpsswitcher_mysql4>
                <class>MpsSistemi_ColorSwitch_Model_Mysql4</class>
                <entities>
                    <coloroptions>
                        <table>mps_switch_color_options</table>
                    </coloroptions>                         
                </entities>
            </mpsswitcher_mysql4>
        </models>     
       <resources>
            <mpsswitcher_setup>
                <setup>
                    <module>MpsSistemi_ColorSwitch</module>
                </setup>                
                <connection>
                    <use>core_setup</use>
                </connection>                
            </mpsswitcher_setup>
            <mpsswitcher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpsswitcher_write>
            <mpsswitcher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpsswitcher_read>
        </resources>
    </global> 
    
    <frontend>
        <layout>
            <updates>
                <mpsswitcher>
                    <file>mps/mpcolorswitcher.xml</file>
                </mpsswitcher>
            </updates>
        </layout>
    </frontend>
    
</config>