<?xml version="1.0" encoding="UTF-8"?>
<!--

/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *  
 *
 * @category    
 * @package     
 * @copyright   Copyright (c) 2013 Mps Sistemi (http://www.mps-sistemi.it)
 * @author      MPS Sistemi S.a.s - Marco Mancinelli <marco.mancinelli@mps-sistemi.it>
 *
 */
-->

<config>
    <sections>
        <mpscore_options translate="label" module="mpscore">
            <groups>
                <color_switcher>
                    <label>COLOR Switcher - Configurazioni</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <color_attribute>
                            <label>Attributi che identificano i colori</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>mpscore/adminhtml_system_config_source_catalog_product_attribute_select</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Attributi che indicano i colori<br>Se si vuole gestire un color switcher per i prodotti configurabili 
nel frontend è necessario l'attributo <strong>mps_color_switcher</strong> è seguire le istruzioni di configurazione nella tab delle immagini del prodotto.<br>
L'attributo deve essere di tipo <strong>Text</strong>]]></comment>
                        </color_attribute>
                        <size_attribute>
                            <label>Attributi che identificano le taglie</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>mpscore/adminhtml_system_config_source_catalog_product_attribute_select</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </size_attribute>                        
                    </fields> 
                </color_switcher>        
            </groups>            
        </mpscore_options>
    </sections>  
</config>
